nav ul{
    list-style: none;
    grid-template-columns:repeat(5,100px) ;
    grid-row: 1fr,1fr,;
    display: grid;
    border: 2px solid green;
    
    

}
article{
    background-color: black;
    
    
    
}
header h1{
    color: green;
    border: 2px solid;
    margin: auto;
    



}
nav a:hover {
    text-decoration: none;
    border: 2px solid;
    color: orange;
    background-color: green;
}
ul li:hover{
color: green;
border-color: green 2px ;

}

article{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr;
    grid-template-columns: repeat(4,200px);
    color:white;
    gap:10px
    
}
nav li {
    border:5px solid white ;
    background-color: green;
    padding: 0;
    font-size: 25px;
    
}
nav ul li a {
    color: orange;
    border: 2px solid green;

    
}
article div{
    border: 0.5px solid white;
    
    

}
    


